openapi: 3.0.3
info:
  title: OpenRouter API (subset for Booka)
  description: Minimal OpenAPI spec for OpenRouter chat endpoints (chat completions + models). Based on OpenRouter docs.
  version: "1.0.0"
servers:
  - url: https://openrouter.ai
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API_KEY
  schemas:
    Message:
      type: object
      properties:
        role:
          type: string
          enum: [system, user, assistant]
        content:
          type: string
    ChatRequest:
      type: object
      properties:
        model:
          type: string
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'
        max_tokens:
          type: integer
        temperature:
          type: number
        top_p:
          type: number
        stream:
          type: boolean
    ChatResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                $ref: '#/components/schemas/Message'
paths:
  /api/v1/chat/completions:
    post:
      security:
        - bearerAuth: []
      summary: Create chat completion (OpenRouter)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      responses:
        '200':
          description: Chat completion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
  /api/v1/models:
    get:
      security:
        - bearerAuth: []
      summary: List available models
      responses:
        '200':
          description: Models list
          content:
            application/json:
              schema:
                type: object
                properties:
                  models:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        name: { type: string }
                        provider: { type: string }
